[project]
	description = Simple Java commons class collection
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Domagoj Poljak (dopoljak)
[access "refs/for/refs/*"]
	read = group user/Domagoj Poljak (dopoljak)
	push = group user/Domagoj Poljak (dopoljak)
	label-Code-Review = -2..+2 group user/Domagoj Poljak (dopoljak)
	label-Verified = -1..+1 group user/Domagoj Poljak (dopoljak)
	rebase = group user/Domagoj Poljak (dopoljak)
	removeReviewer = group user/Domagoj Poljak (dopoljak)
	submit = group user/Domagoj Poljak (dopoljak)
[access "refs/heads/*"]
	read = group user/Domagoj Poljak (dopoljak)
	create = group user/Domagoj Poljak (dopoljak)
	push = +force group user/Domagoj Poljak (dopoljak)
	pushMerge = group user/Domagoj Poljak (dopoljak)
[access "refs/tags/*"]
	push = group user/Domagoj Poljak (dopoljak)
	push = +force group user/Domagoj Poljak (dopoljak)
